main{
  /*display: flex;
  flex-direction: column;*/
  border: 2px solid red;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 80px;

}



.section-intro{
  border: 2px solid blue;
  margin-bottom: 45px;
  
}

h1{
  font-weight: 800;
  font-size: 40px;
  line-height: 50.4px;
  color: rgba(19, 24, 63, 1);
  margin-bottom: 26px;
}

.page-description{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgba(131, 134, 154, 1);
  margin-bottom: 24px;
}

.button-main{
  font-family: Plus Jakarta Sans;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 31.5px;
  padding-right: 37px;
  padding-left: 38px;
  padding-top:15px ;
  padding-bottom: 15px;
  border: none;
  line-height: 26px;
  font-size: 16px;
  font-weight: 700 ;
}

.section-image{
  height: 301px;
  background-image: url("assets/image-hero-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  margin-bottom: 40px;
  border: 2px solid red;
}

.main-image-tablet,
.main-image-desktop{
  display: none;
}

@media only screen and (min-width:768px){

  main{
    padding-left: 39px;
    padding-right: 39px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .main-image-tablet{
    position: absolute;
    display: block;
    top: -200px;
    right: -290px;
  }

  .intro-and-image{
    display: flex;
    
  }

  .section-image{
    background-image: none;
    flex: 1;
    height: 500px;
  }

  .section-intro{
    flex: 1;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button-main{
    max-width: 167px;
  }
}

@media only screen and (min-width:1440px){

  main{
    padding-left: 165px;
    padding-right: 165px;
    margin-bottom: 140px;
  }

  .main-image-tablet{
    display: none;
  }

  .main-image-desktop{
    position: absolute;
    display: block;
    top: -210px;
    right: -270px;
  }

  .section-intro{
    flex: 1;
    height: 800px
  }


}


